<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="orangehrm_login_test">
  <test name="login functionality test">
    
    <classes>
      <class name="com.orange_hrm.test_runner.Test_Runner_Local"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
